body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white; /* Белый фон */
    color: black; /* Черный текст */
}

header {
    background: #4CAF50; /* Зеленая шапка */
    color: white; /* Белый текст в шапке */
    padding: 10px 0;
    text-align: center;
}

.content-section {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #4CAF50; /* Цвет заголовков */
}

h3 {
    font-size: 1.5em;
    color: #333; /* Цвет подзаголовков */
}

.highlight {
    background-color: yellow; /* Цвет выделения текста */
    color: black; /* Черный текст для выделенного текста */
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f4f4f4;
}
